:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --opensans: "Open Sans", sans-serif;
    --raleway: "Raleway", sans-serif;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    box-sizing: border-box;
}

nav {
    box-shadow: 0px 3px 6px #00000029;
    height: 70px;
    display: flex;
    align-items: center;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.benefits--container {
    width: 1124px;
    margin: 0 auto;
}
a:hover {
    cursor: pointer;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header span {
    color: var(--color-primary);
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08a6e4;
    opacity: 1;
}
.nav li {
    padding: 0 32px;
    height: 100%;
}
.nav ul {
    display: flex;
}
.nav a {
    text-decoration: none;
    font: normal normal bold 11px/15px "Open Sans";
    color: var(--color-grey);
    font-size: 11px;
    position: relative;
    height: 100%;
    display: block;
}
.nav a:hover {
    color: var(--color-black);
}
.nav--underline--first:hover::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #08a6e4;
    padding: 21px 30px;
    left: -8px;
}
.nav--underline--second:hover::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #08a6e4;
    padding: 21px 35px;
    left: -10px;
}
.nav--underline--third:hover::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #08a6e4;
    padding: 21px 30px;
    left: -10px;
}
.nav--underline--fourth:hover::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #08a6e4;
    padding: 21px 36px;
    left: -7px;
}
/* main */
.hero {
    background-image: url("../assets/Background.png");
    height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.hero--wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.hero--title {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    font-size: 49px;
    margin-bottom: 20px;
}
.hero--text {
    text-align: center;
    font: normal normal normal 16px/22px "Open Sans";
    letter-spacing: 0px;
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 38px;
}
.hero--button {
    text-decoration: none;
    text-align: center;
    font: normal normal bold 16px/22px "Open Sans";
    letter-spacing: 0px;
    font-size: 16px;
    color: var(--color-white);
    background: #08a6e4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ace629;
    border-radius: 40px;
    padding: 15px 135px;
}
.hero--button:hover {
    cursor: pointer;

    /* under hero */
}
.under-hero {
    background-color: var(--color-white);
    margin-bottom: 120px;
}
.under-hero--text {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    margin: 100px auto;
}
.under-hero--three-circle-boxes-wrapper {
    box-sizing: border-box;
    padding: 0 150px;
    display: flex;
    justify-content: space-around;
}
.three-circle-boxes {
    text-align: center;
}
.under-hero--three-circle-boxes--title {
    margin-bottom: 25px;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
    font-size: 20px;
    color: var(--color-black);
}
.under-hero--three-circle-boxes--text {
    display: inline-block;
    width: 100%;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: var(--color-grey);
    line-height: 1.3;
}
.under-hero--three-circle-boxes--text,
.nextline {
    width: 80%;
}
.circle {
    display: inline-block;
    text-align: center;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-bottom: 13px;
    position: relative;
}
.circle--red::after {
    content: " ";
    position: absolute;
    background-image: url("../assets/Person.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    bottom: -5px;
    z-index: 999;
}
.circle--blue::after {
    content: " ";
    position: absolute;
    background-image: url("../assets/Eye.svg");
    width: 110%;
    height: 100%;
    background-repeat: no-repeat;
    bottom: -13px;
    left: 21px;
    z-index: 999;
}
.circle--green::after {
    content: " ";
    position: absolute;
    background-image: url("../assets/Catalog.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    bottom: -5px;
    z-index: 999;
}
.circle--red {
    background: var(--color-redish) 0% 0% no-repeat padding-box;
}
.circle--blue {
    background: var(--color-primary) 0% 0% no-repeat padding-box;
}
.circle--green {
    background: var(--color-green) 0% 0% no-repeat padding-box;
}

/* benefit */
.benefits--container {
    width: 1124px;
    margin: 0 auto;
}
.benefits {
    box-sizing: border-box;
    background-color: var(--color-light-grey);
    padding-top: 106px;
}
.benefits--firstbox {
    height: 370px;
    background-color: var(--color-white);
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 36px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.benefits-firstbox--text h2 {
    margin-top: 91px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    font-size: 36px;
}
.benefits-firstbox--text span {
    margin-top: 30px;
    display: block;
    width: 416px;
    text-align: left;
    font: normal normal normal 16px/22px "Open Sans";
    letter-spacing: 0px;
    color: var(--color-black);
    position: relative;
}
.benefits-firstbox--text {
    position: relative;
}
.benefits-firstbox--text::after {
    content: "";
    background: var(--color-redish);
    position: absolute;
    bottom: -80px;
    left: 160px;
    height: 327px;
    width: 4px;
    transform: rotate(90deg);
}
.benefits--firstbox--img {
    width: 386px;
    height: 219px;
    align-self: flex-end;
    padding-bottom: 30px;
    padding-right: 120px;
    position: relative;
    z-index: 2;
}
.red-square {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    z-index: 1;
    right: 105px;
    top: 75px;
}
.benefits--secondbox {
    margin-top: 37px;
    height: 370px;
    background-color: var(--color-white);
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 36px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    margin-bottom: 37px;
}
.benefits-secondbox--text h2 {
    margin-top: 69px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    width: 60%;
    letter-spacing: 0px;
    color: var(--color-black);
    font-size: 36px;
}
.benefits-secondbox--text span {
    margin-top: 30px;
    display: block;
    width: 416px;
    text-align: left;
    font: normal normal normal 16px/22px "Open Sans";
    letter-spacing: 0px;
    color: var(--color-black);
    position: relative;
}
.benefits-secondbox--text {
    position: relative;
}
.benefits-secondbox--text::after {
    content: "";
    background: var(--color-primary);
    position: absolute;
    height: 327px;
    width: 4px;
    bottom: -100px;
    left: 163px;
    transform: rotate(90deg);
}
.benefits--secondbox--img {
    width: 426px;
    height: 328px;
    align-self: flex-end;
    padding-bottom: 13px;
    padding-left: 65px;
    position: relative;
    opacity: 1;
    z-index: 2;
}
.blue-circle {
    width: 320px;
    height: 320px;
    background-color: #08a6e4;
    position: absolute;
    left: 85px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.benefits--thirdbox--wrapper {
    display: flex;
    justify-content: space-between;
}

.benefits--thirdbox {
    background-color: var(--color-white);
    width: 595px;
    height: 370px;
    padding-left: 36px;
    margin-bottom: 105px;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
}
.benefits-thirdbox--green-square {
    height: 370px;
    width: 440px;
    background-color: var(--color-green);
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits-thirdbox--green-square img {
    width: 295px;
    height: 207px;
    margin-top: 50px;
    padding: 0;
}
.benefits-thirdbox--text h2 {
    margin-top: 69px;
    text-align: left;
    width: 60%;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    font-size: 36px;
}
.benefits-thirdbox--text span {
    margin-top: 30px;
    display: block;
    width: 90%;
    text-align: left;
    font: normal normal normal 16px/22px "Open Sans";
    letter-spacing: 0px;
    color: var(--color-black);
    position: relative;
}
.benefits-thirdbox--text {
    position: relative;
}
.benefits-thirdbox--text::after {
    content: "";
    background: var(--color-green);
    position: absolute;
    bottom: -220px;
    left: 160px;
    height: 327px;
    width: 4px;
    transform: rotate(90deg);
}

/* pricing */

.pricing--container {
    width: 1266px;
    margin: 0 auto;
}
.pricing--title {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    opacity: 1;
    color: var(--color-black);
    font-size: 36px;
    margin-top: 100px;
}
.pricing--boxes--wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.pricing--boxes--basic {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    opacity: 1;
    width: 372px;
    height: 461px;
    margin-top: 50px;
}
.pricing--boxes--basic-title {
    text-align: center;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253b;
    opacity: 1;
    margin-top: 34px;
    font-size: 20px;
}
.pricing--boxes--professional {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-primary);
    border-radius: 18px;
    opacity: 1;
    width: 405px;
    height: 500px;
    box-shadow: 5px 10px 27px #07ace629;
    margin-top: 25px;
}
.pricing--boxes--professional-title {
    text-align: center;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253b;
    opacity: 1;
    margin-top: 34px;
    font-size: 21px;
}
.pricing--boxes--premium {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-green);
    border-radius: 18px;
    opacity: 1;
    width: 372px;
    height: 461px;
    margin-top: 50px;
}
.pricing--boxes--premium-title {
    text-align: center;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253b;
    opacity: 1;
    margin-top: 34px;
    font-size: 20px;
}
